 div {
    display: block;
    padding: 40px;
 }

 h2 {
    text-align: center;
 }

form {
    text-align: center;
    display: grid;
    justify-content: space-around;
}

.books-container {
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-wrap: wrap;
}

.book-cover-img {
    display: flex;
    width: 150px; 
    height: 250px; 
    object-fit: cover; 
    justify-content: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    border: #333;
    border-width: 10px;
    
 }  
.navigation-station {
    display: flex;
    justify-content: space-around;
}
.single-book {
    display: flex;
    text-align: center;
    display: grid;
    justify-content: center;
}

.account {
    display: grid;
    justify-content: center;
}
